sudo: false
notifications:
  email:
    recipients:
      - rafa@myariadna.com
    on_success: [always|never|change] # default: change
    on_failure: [always|never|change] # default: always
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '4'
services:
  - mysql  
before_install:
  - mysql -e "create database IF NOT EXISTS baseapi_test;" -uroot
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
script:
  - npm test  
  - npm run check-coverage
after_success:
  - npm run report-coverage
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
